body{ background-color:powderblue;}
.cities {
         background-color: black;
          color: white;
         margin:0px;
          padding:0px;
		  }
		  h1 {
			  color:black;
			  margin:20px;
			  padding:20pxp;
			  word-spacing:20px;
			  p4 {
				  color:black;
			  margin:20px;
			  padding:20pxp;
			  word-spacing:20px;
			  }
				  
 h {
     color:black;
	 font-family:verdana;
	 font-size:100%;
	 
	 }
	 
	  h3 {
     color:red;
	 font-family:verdana;
	 font-size:100%;
	 }
	  h4 {
     color:red;
	 font-family:verdana;
	 font-size:150%;
	 }
	 p {
		color:black;
		font-family:verdana;
		font-size:80%;
		}
		table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

button {
color:red;
font-family:italic;
font-size:100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: silver;
  }
  a {
	  color:red;
  }
  a:hover {
	  color:green;
  }
  a:active {
	  color:blue; 
  }